---
layout: default
---
<div class="team-names row d-md-flex d-none">
  <div class="col-6 text-left">
    Sparkle Kids
  </div>
  <div class="col-6 text-right">
    Sunstone Knights
  </div>
</div>
{% for post in site.posts %}
<div class="row">
  {% if post.team != 'Sparkle Kids' %}
  <div class="col-md-6 d-md-flex d-none">&nbsp;</div>
  {% endif %}
  <div class="col-md-6 col-12">
    <div class="post">
      <div class="post-header">
        <span class="float-right text-muted">{{post.date | date_to_string}}</span>
        <h3>{{post.title}}</h3>
      </div>
      <img src="images/enemies/{{post.enemy}}.jpg" class="img-thumbnail enemy-image" />
      <div class="post-content">
        {{post.excerpt}}
      </div>
      <div class="post-signature text-right text-muted">- {{post.team}}</div>
    </div>
  </div>
  {% if post.team != 'Sunstone Knights' %}
  <div class="col-md-6 d-md-flex d-none">&nbsp;</div>
  {% endif %}
</div>
{% endfor %}