---
layout: default
---
<ul class="achievements global-achievements">
  {% for achievement in site.data.achievements.global %}
  <li>{{achievement}}</li>
  {% endfor %}
</ul>
<div class="team-names row d-md-flex d-none">
  <div class="col-md-4 col-12">
    <h1>Sparkle Kids</h1>
    <ul class="achievements party-achievements">
      {% for achievement in site.data.achievements.sparkle_kids %}
      <li>{{achievement}}</li>
      {% endfor %}
    </ul>
  </div>
  <div class="col-md-4 col-12">
    <h1>Sunstone Knights</h1>
    <ul class="achievements party-achievements">
      {% for achievement in site.data.achievements.sunstone_knights %}
      <li>{{achievement}}</li>
      {% endfor %}
    </ul>
  </div>
  <div class="col-md-4 col-12">
    <h1>Ya Boiz</h1>
    <ul class="achievements party-achievements">
      <li>Capital Intrigue</li>
    </ul>
  </div>
</div>
<div class="row d-none">
  <div class="col-md-4 col-12">
    <div class="text-muted float-left character-name">Kronk</div>
    <div class="text-muted float-right character-name">Sabine</div>
    <img src="images/sparkle-kids.jpg" class="img-fluid party-image" />
    <div class="text-muted float-left character-name">Evvos</div>
    <div class="text-muted float-right character-name">Mel</div>
  </div>
  <div class="col-md-4 col-12">
    <div class="text-muted float-left character-name">Rocksbee III</div>
    <div class="text-muted float-right character-name">Reah Frostburne</div>
    <img src="images/sunstone-knights.jpg" class="img-fluid party-image" />
    <div class="text-muted float-left character-name">Prince Krysa</div>
    <div class="text-muted float-right character-name">Teedo</div>
  </div>
  <div class="col-md-4 col-12">
    <div class="text-muted float-left character-name">Urt</div>
    <div class="text-muted float-right character-name">Bramble Wood</div>
    <img src="images/ya-boiz.jpg" class="img-fluid party-image" />
    <div class="text-muted float-left character-name">Mr. Splinter</div>
    <div class="text-muted float-right character-name">Zam Wesell</div>
  </div>
</div>
{% for post in site.posts %}
<div class="row">
  {% if post.team == 'Sunstone Knights' %}
  <div class="col-md-4 d-md-flex d-none">&nbsp;</div>
  {% endif %} {% if post.team == 'Ya Boiz' %}
  <div class="col-md-8 d-md-flex d-none">&nbsp;</div>
  {% endif %}
  <div class="col-md-4 col-12">
    <div class="post post-result-{{post.result}}">
      <hr>
      <div class="post-header">
        <span class="float-right text-muted">{{post.date | date_to_string}}</span>
        <h3>{{post.title}}</h3>
      </div>
      {% if post.image != Nil %}
      <img src="images/{{post.image}}.jpg" class="img-thumbnail post-image" />
      {% elsif post.enemy != Nil %}
      <img src="images/enemies/{{post.enemy}}.jpg" class="img-thumbnail enemy-image" />
      {% endif %}
      <div class="post-content">
        {{post.excerpt}}
      </div>
      <div class="post-footer">
        {% for reward in post.rewards %}
        <div class="post-reward">{{reward}}</div>
        {% endfor %}
        <div class="post-result post-result-{{post.result}}">{{post.result}}</div>
        <div class="post-signature text-muted">- {{post.team}}</div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% include missions.html %}