body {
    background-color: #6c2533;
    .header-img {
        background-color: #2a1a13;
    }
    .container {
        background-color: #f0e1da;
        h2 {
            font-family: 'Pirata One', cursive;
        }
        .post {
            .post-header {
                font-family: 'Pirata One', cursive;
            }
            .post-content {
                font-family: 'Pirata One', cursive;
            }
        }
    }
    color:#373737;
}