@font-face {
    font-family: 'High Tower';
    src: url('fonts/HTOWER.TTF');
    src: local('High Tower'), local('High-Tower'), url('fonts/HTOWER.TTF') format('truetype');
}

body {
    background-color: #6c2533;
    font-family: 'High Tower', serif;
    .header-img {
        background-color: #2a1a13;
    }
    .container {
        background-color: #f0e1da;
        .team-names {
            font-size: 4rem;
            font-family: 'Pirata One', cursive;
        }
        .post {
            .enemy-image {
                float: right;
                max-width: 150px;
            }
            .post-header {
                font-family: 'Pirata One', cursive;
            }
            .post-content {
                font-family: 'High Tower', serif;
            }
            .post-signature {
                font-size: large;
                font-style: italic;
                clear: both;
            }
        }
    }
    color:#373737;
}