@font-face {
    font-family: 'High Tower';
    src: url('fonts/HTOWERT.TTF');
    src: local('High Tower'), local('High-Tower'), url('fonts/HTOWERT.TTF') format('truetype');
}

body {
    background-color: #6c2533;
    font-family: 'High Tower', serif;
    .header-img {
        background-color: #2a1a13;
    }
    .container {
        background-color: #f0e1da;
        .team-names {
            text-align: center;
            font-size: 3.5rem;
            font-family: 'Pirata One', cursive;
        }
        .post {
            margin-bottom: 30px;
            &.post-result-failed .post-header {
                text-decoration: line-through;
            }
            .enemy-image {
                float: right;
                max-width: 150px;
            }
            .post-header {
                font-family: 'Pirata One', cursive;
            }
            .post-content {
                font-family: 'High Tower', serif;
            }
            .post-footer {
                text-align: right;
                clear: both;
                .post-reward {
                    font-size: small;
                }
                .post-result {
                    text-align: right;
                    text-transform: uppercase;
                    font-weight: bold;
                    &.post-result-complete {
                        color: green;
                    }
                    &.post-result-failed {
                        color: red;
                    }
                }
                .post-signature {
                    font-size: large;
                    font-style: italic;
                }
            }
        }
    }
    color:#373737;
}